{
	"$schema": "https://json.schemastore.org/prettierrc.json",
	"semi": false,
	"singleQuote": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ".swcrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
