{
	"$schema": "https://swc.rs/schema.json",
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true
		},
		"transform": {
			"decoratorMetadata": true
		},
		"baseUrl": "./",
		"paths": {
			"@/*": ["./src/*"]
		},
		"target": "es2024"
	},
	"module": {
		"type": "es6",
		"resolveFully": true
	},
	"sourceMaps": "inline"
}
